# Python divides the operators in the following groups:

* Arithmetic operators
* Assignment operators
* Comparison operators
* Logical operators
* Identity operators
* Membership operators
* Bitwise operators

In [6]:
!conda install lxml -y

Retrieving notices: ...working... done
Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\myPC\anaconda3\envs\python12

  added / updated specs:
    - lxml


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    lxml-4.9.3                 |  py312h09808a7_0         1.0 MB
    ------------------------------------------------------------
                                           Total:         1.0 MB

The following NEW packages will be INSTALLED:

  libiconv           pkgs/main/win-64::libiconv-1.16-h2bbff1b_2
  libxml2            pkgs/main/win-64::libxml2-2.10.4-h0ad7f3c_1
  libxslt            pkgs/main/win-64::libxslt-1.1.37-h2bbff1b_1
  lxml               pkgs/main/win-64::lxml-4.9.3-py312h09808a7_0



Downloading and Extracting Packages

lxml-4.9.3           | 1.0 MB    |            |   0%
lxml-4.9.3           | 1.0 MB    | 1          |   2%
lxml-4.9.3           | 1.0 MB    | 6          |   6%
lxml-4.9.3           | 1.0 MB    | #2         |  12%
lxml-4.9.3           | 1.0 MB    | ##4        |  25%
lxml-4.9.3           | 1.0 MB    | ####       |  40%
lxml-4.9.3           | 1.0 MB    | #####7     |  58%
lxml-4.9.3           | 1.0 MB    | ########   |  81%
lxml-4.9.3           | 1.0 MB    | #########4 |  95%
lxml-4.9.3           | 1.0 MB    | ########## | 100%



Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

==> WARNING: A newer version of conda exists. <==
  current version: 23.7.4
  latest version: 24.1.2

Please update conda by running

    $ conda update -n base -c defaults conda

Or to minimize the number of packages updated during conda update use

     conda install conda=24.1.2

# Pyhon Arithmatic Operators

In [1]:
import pandas as pd

table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
table[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

In [2]:
a : int = 11
b : int = 3

print(a + b)
print(a - b)
print(b - a)
print(a * b)
print(a / b)

print(a % b)
print(2 ** 5)
print(a // b)

14
8
-8
33
3.6666666666666665
2
32
3

# Python Assignment Operators

In [2]:
table[1]

   Operator        Example         Same As    Try it
0         =          x = 5           x = 5  Try it »
1        +=         x += 3       x = x + 3  Try it »
2        -=         x -= 3       x = x - 3  Try it »
3        *=         x *= 3       x = x * 3  Try it »
4        /=         x /= 3       x = x / 3  Try it »
5        %=         x %= 3       x = x % 3  Try it »
6       //=        x //= 3      x = x // 3  Try it »
7       **=        x **= 3      x = x ** 3  Try it »
8        &=         x &= 3       x = x & 3  Try it »
9        |=         x |= 3       x = x | 3  Try it »
10       ^=         x ^= 3       x = x ^ 3  Try it »
11      >>=        x >>= 3      x = x >> 3  Try it »
12      <<=        x <<= 3      x = x << 3  Try it »
13       :=  print(x := 3)  x = 3 print(x)  Try it »

In [3]:
a = 7

a = a + 5      #  old method to update the variable value
print(a)

12

In [14]:
a += 8
print(a)

20

In [4]:
x : int = 20
x %=3
print(x)

2

In [5]:
x **=3
print(x)

8

# Python Comparison Operators

In [6]:
table[2]

  Operator                      Name Example    Try it
0       ==                     Equal  x == y  Try it »
1       !=                 Not equal  x != y  Try it »
2        >              Greater than   x > y  Try it »
3        <                 Less than   x < y  Try it »
4       >=  Greater than or equal to  x >= y  Try it »
5       <=     Less than or equal to  x <= y  Try it »

In [7]:
a : int = 5
b : int = 7

print(a==b)

False

In [19]:
a : int = 7
b : int = 7

print(a==b)

True

In [8]:
a : str = '7'
b : int = 7

print(a==b)

False

In [22]:
a : int = 7
b : int = 7

print(a!=b)

False

In [23]:
a : int = 5
b : int = 7

print(a>b)

False

# ASCI code

A = 65
Z = 90

a = 97
z = 122

0 = 48 
9 = 57

In [4]:
chr(65)

'A'

In [28]:
ord("M")

77

In [26]:
a : str = "A"
b : str = "a"

print(a < b)

True

# Python Logical Operators

In [9]:
table[3]

,Operator,Description,Example,Try it
0,and,Returns True if both statements are true,x < 5 and x < 10,Try it »
1,or,Returns True if one of the statements is true,x < 5 or x < 4,Try it »
2,not,"Reverse the result, returns False if the resul...",not(x < 5 and x < 10),Try it »

In [33]:
print(True or True or True or True)
print(True or False or False or False)
print(True and False and True and True)

True
True
False

In [35]:
not True

False

In [2]:
name : str = "Majid"
print(not name == "Sajid")

True

In [38]:
name : str = "Majid"
print(name != "Sajid")

True

# Python Identity Operators

In [39]:
table[4]

,Operator,Description,Example,Try it
0,is,Returns True if both variables are the same ob...,x is y,Try it »
1,is not,Returns True if both variables are not the sam...,x is not y,Try it »

In [40]:
x : str = 'abc'
y : str = 'abc'

print(id(x))
print(id(y))

140729587029120
140729587029120

In [41]:
x is y

True

In [42]:
x : str = 'xyz'
y : str = 'abc'

print(id(x))
print(id(y))

1989445511056
140729587029120

In [43]:
x is not y

True

# Python Membership Operators

In [44]:
table[5]

,Operator,Description,Example,Try it
0,in,Returns True if a sequence with the specified ...,x in y,Try it »
1,not in,Returns True if a sequence with the specified ...,x not in y,Try it »

In [10]:
names : list[str] = [chr(i) for i in range(65,91)]
print(names)
len(names)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

26

In [3]:
names : list[str] = [chr(i) for i in range(65,91)]

for i in range(len(names)):
    print(i, names[i])
    if names[i] == 'D':
        # print("True")
        break

0 A
1 B
2 C
3 D

In [52]:
'M' in names

True

In [53]:
names : list[str] = [chr(i) for i in range(65,91)]

display(names)

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [5]:
names : list[str] = ['Zia','Qasim','Majid', 'Inam']

uinput : str = input("Enter your name")

uinput in names

False

In [6]:
names : list[str] = ['Zia','Qasim','Majid', 'Inam']

uinput : str = input("Enter your name")

uinput not in names

True

# Operator Precedence

In [7]:
from IPython.display import Image, display   #  copied from Chat GPT

# Specify the URL of the image
image_url = 'https://learningmonkey.in/wp-content/uploads/2021/05/Operator-Precedence-and-Associativity-in-Python.jpg'

# Display the image
display(Image(url=image_url))

#To show an image use the command in markdown:  <img src='image adress'>

<img src='https://learningmonkey.in/wp-content/uploads/2021/05/Operator-Precedence-and-Associativity-in-Python.jpg'>

# PEMDAS

In [74]:
print(3 + 2 - 2 * 4 /2 +2)

3.0

In [75]:
universe_age : int = 14_000_000_000

print(universe_age)

14000000000

In [8]:
# This concept is called unzip

x, y, z = 92, 3.50, 'Majid'    # Multiple Assignment

print(x)
print(y)
print(z)

92
3.5
Majid

In [9]:
92, 3.50, 'Majid'

(92, 3.5, 'Majid')

In [78]:
x, y, z=(92, 3.5, 'Majid')

print(x)
print(y)
print(z)

92
3.5
Majid

In [11]:
data = (92, 3.5, 'Majid')

print( data[0], data[1], data[2])

92 3.5 Majid

In [10]:
data = (92, 3.5, 'Majid')

print(*data)

92 3.5 Majid