# List

* iteraton operation with loop
* apply any operaton on element

In [2]:
names : list[str] = ['Qasim', 'Sir Zia', 'Sir Inam', 'Majid Ali', 'Dr Noman']

for name in names:
  print(name)

Qasim
Sir Zia
Sir Inam
Majid Ali
Dr Noman

In [7]:
for name in names:
    print(f"Welcome dear teacher, {name.upper()}")

Welcome dear teacher, QASIM
Welcome dear teacher, SIR ZIA
Welcome dear teacher, SIR INAM
Welcome dear teacher, MAJID ALI
Welcome dear teacher, DR NOMAN

In [8]:
for name in names[:3]:
    print(f"Welcome dear teacher, {name.upper()}")

Welcome dear teacher, QASIM
Welcome dear teacher, SIR ZIA
Welcome dear teacher, SIR INAM

In [2]:
data_base : list[tuple[str,str]] = [("Qasim", "123"),
                                    ("Inam",'345'),
                                    ("Ikhlas", '678')]

for row in data_base:
    print(row)

('Qasim', '123')
('Inam', '345')
('Ikhlas', '678')

In [3]:
data_base : list[tuple[str,str]] = [("Qasim", "123"),
                                    ("Inam",'345'),
                                    ("Ikhlas", '678')]

for row in data_base:
    username , password = row
    print(username , password)

Qasim 123
Inam 345
Ikhlas 678

In [1]:
data_base : list[tuple[str,str]] = [("Qasim", "123"),
                                    ("Inam",'345'),
                                    ("Ikhlas", '678')]

input_user : str = input("Enter your UserName")
input_password : str = input("Enter your Password")

for row in data_base:
    username , password = row
    if input_user == username and input_password == password:
        print("Valid User")
        break
else:
    print("Not found or invalid user name/password")

Not found or invalid user name/password

In [4]:
names : list[str] = ['Qasim', 'Sir Zia', 'Sir Inam', 'Majid Ali', 'Dr Noman']

for name in names:
  print(name)

else:
  print("Hello World!")

Qasim
Sir Zia
Sir Inam
Majid Ali
Dr Noman
Hello World!

# Number with loop

*range(start , end, step)     range is a generator fucntion

In [1]:
range(10)

range(0, 10)

In [2]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
list(range(2,21,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [6]:
names : list[str] = ['Qasim', 'Sir Zia', 'Sir Inam', 'Majid Ali', 'Dr Noman']

list(enumerate(names))

[(0, 'Qasim'),
 (1, 'Sir Zia'),
 (2, 'Sir Inam'),
 (3, 'Majid Ali'),
 (4, 'Dr Noman')]

In [7]:
for index , name in enumerate(names):
    print(index, name)

0 Qasim
1 Sir Zia
2 Sir Inam
3 Majid Ali
4 Dr Noman

In [2]:
for n in range(1,11):
    print(f"2 X {n} = {n*2}")

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [10]:
squares : list[int] = []
for value in range(1, 11):
    square = value ** 2
    squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# List comprehensive
'''
for item in items_list:
    loop body
    ''''

In List compre hensive:

[loop body for item in items_list]

In [2]:
[value **2 for value in range(1,11)]   # this style is called list comprehensive

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [4]:
my_foods = ['pizza', 'falafel', 'carrot cake']
friend_foods = my_foods[:] # slicing provide deep copy like .copy

print(my_foods)
print(friend_foods)

friend_foods[0] = "Tikka"

print(my_foods)
print(friend_foods)

['pizza', 'falafel', 'carrot cake']
['pizza', 'falafel', 'carrot cake']
['pizza', 'falafel', 'carrot cake']
['Tikka', 'falafel', 'carrot cake']

In [2]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits ]
print(newlist)

['apple', 'banana', 'cherry', 'kiwi', 'mango']

# Tuple

In [5]:
names : tuple[str] = ("A","B","C")

print(names[0])
print(names[0:2])

A
('A', 'B')

In [3]:
names[0] = "Pakistan"

NameError: name 'names' is not defined

In [10]:
names : tuple[str] = ("A","B","C")

names : tuple[str] = ("Pakistan","B","C")

print(names)

('Pakistan', 'B', 'C')

In [8]:
names: tuple[str, str, str] = ("A", "B", "C")  # Initial assignment with type hint

names = ("Pakistan", "B", "C")  # Reassignment without repeating the type hint

print(names)  # Output: ('Pakistan', 'B', 'C')

('Pakistan', 'B', 'C')

In [11]:
from typing import Any

data : tuple[Any] = ("A",[1,2,3],True)

print(data)

('A', [1, 2, 3], True)

In [12]:
from typing import Any, List, Tuple

data: Tuple[str, List[int], bool] = ("A", [1, 2, 3], True)

print(data)

('A', [1, 2, 3], True)

In [5]:
print(data[1])

[1, 2, 3]

In [6]:
data[1].append(20)

print(data)

('A', [1, 2, 3, 20], True)

In [11]:
a = input("Enter something")   # input function is by default return string type

print(a)
print(type(a))

65.5
<class 'str'>

In [12]:
sorted([9,10,2,7,-5])

[-5, 2, 7, 9, 10]