In [1]:
message : str = "PIAIC Student Card: \nfather's name:"
print(message)

PIAIC Student Card:
father's name:

In [2]:
message : str = 'PIAIC "Student Card" \nfather name'
print(message)

PIAIC "Student Card"
father name

In [2]:
message : str = 'PIAIC Student Card \nfather\'s name'
print(message)

PIAIC Student Card
father's name

In [4]:
message : str = "PIAIC Student Card \nfather\'s name"
print(message)

PIAIC Student Card
father's name

In [2]:
"a" + "b" + "c"

'abc'

In [3]:
name : str = "Majid Ali"
fname : str = "Haji Muneer Ahmed"
education : str = "Electrical Engineeing"
age : int = 32

card : str = "PIAIC Student\nStudent name:" + name + "\nAge:" + str(age)
print(card)

PIAIC Student
Student name:Majid Ali
Age:32

In [9]:
print (7 + 8 + 2)

17

In [10]:
print(7 + \
      8 + \
        2)

17

In [9]:
print(7+
      8+
      9)

24

In [1]:
name : str = "Majid Ali"
fname : str = "Haji Muneer Ahmed"
education : str = "Electrical Engineeing"
age : int = 32

card : str = "PIAIC Student\nStudent name:" +name + "\nAge:" + str(age) + "\n" + \
"Education:" + education
print(card)

PIAIC Student
Student name:Majid Ali
Age:32
Education:Electrical Engineeing

Define multiline string  """ """ , ''' '''

In [13]:
name : str = "Majid Ali"
fname : str = "Haji Muneer Ahmed"
education : str = "Electrical Engineeing"
age : int = 32

card : str = """
PIAIC Student Card
Student name : ....
Father name : ...
Age : ...
Education : ...
"""
print(card)

PIAIC Student Card
Student name : ....
Father name : ...
Age : ...
Education : ...

## Recommended F-string python format

In [6]:
name : str = "Majid Ali"
fname : str = "Haji Muneer Ahmed"
education : str = "Electrical Engineeing"
age : int = 32

card : str = f"""
PIAIC Student Card
Student name : {name}
Father name : {fname}
Age : {age}
Education : {education}
"""
print(card)

PIAIC Student Card
Student name : Majid Ali
Father name : Haji Muneer Ahmed
Age : 32
Education : Electrical Engineeing

In [2]:
name : str = "Majid Ali"
fname : str = "Haji Muneer Ahmed"
education : str = "Electrical Engineeing"
age : int = 32

card : str = f"""
PIAIC Student Card
Student name : {name}
Father name : {fname}
Age : {age}
Education : {education}

Total : {8+9+15+6}
"""
print(card)

PIAIC Student Card
Student name : Majid Ali
Father name : Haji Muneer Ahmed
Age : 32
Education : Electrical Engineeing

Total : 38

## F-string and jinja style

In [ ]:
# jinja style

"""
Student name : {{name}}
"""

In [1]:
name : str = "Majid Ali"
fname : str = "Haji Muneer Ahmed"
education : str = "Electrical Engineeing"
age : int = 32

card : str = """
PIAIC Student Card
Student name : {{name}}
Father name : {{fname}}
Age : {{age}}
Education : {{education}}

Total : {{8+9+15+6}}
"""
print(card)

PIAIC Student Card
Student name : {{name}}
Father name : {{fname}}
Age : {{age}}
Education : {{education}}

Total : {{8+9+15+6}}

In [3]:
# This is done in C or Java Script

name : str = "Majid Ali"
fname : str = "Haji Muneer Ahmed"
education : str = "Electrical Engineeing"
age : int = 32

card : str = f"""
PIAIC Student Card
Student name : %s
Father name : %s
Age : %d
Education : %s
""" % (name, fname, age, education)
print(card)

PIAIC Student Card
Student name : Majid Ali
Father name : Haji Muneer Ahmed
Age : 32
Education : Electrical Engineeing

In [4]:
## Mehtods and attributes

In [5]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [9]:
[i for i in dir(str) if "_" not in i]

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [7]:
name :str = "maJiD ALi"

print(name.capitalize())
print(name.lower())
print(name.casefold())
print(name.title())

Majid ali
majid ali
majid ali
Majid Ali

In [15]:
a = 7
b = 9

# {}  place holder
"Pakistan value a = {} and b = {}".format(a,b)

'Pakistan value a = 7 and b = 9'

In [17]:
name : str = "Majid Ali"
fname : str = "Haji Muneer Ahmed"
education : str = "Electrical Engineeing"
age : int = 32

card : str = """
PIAIC Student Card
Student name : {}
Father name : {}
Age : {}
Education : {}
""".format(fname,name,education,age)
#            0     1    2        3
print(card)

PIAIC Student Card
Student name : Haji Muneer Ahmed
Father name : Majid Ali
Age : Electrical Engineeing
Education : 32

In [18]:
name : str = "Majid Ali"
fname : str = "Haji Muneer Ahmed"
education : str = "Electrical Engineeing"
age : int = 32

card : str = """
PIAIC Student Card
Student name : {1}
Father name : {0}
Age : {3}
Education : {2}
""".format(fname,name,education,age)
#            0     1    2        3
print(card)

PIAIC Student Card
Student name : Majid Ali
Father name : Haji Muneer Ahmed
Age : 32
Education : Electrical Engineeing

In [1]:
name : str = "Majid Ali"
fname : str = "Haji Muneer Ahmed"
education : str = "Electrical Engineeing"
age : int = 32

card : str = """
PIAIC Student Card
Student name : {a}
Father name : {b}
Age : {c}
Education : {d}
""".format(a=name,b=fname,d=education,c=age)

print(card)

PIAIC Student Card
Student name : Majid Ali
Father name : Haji Muneer Ahmed
Age : 32
Education : Electrical Engineeing

In [8]:
student_code : str = """
print("My name is Majid Ali")
a : int = 7
b : int = 8
print(a+b)

"""
exec(student_code)

My name is Majid Ali
15

In [3]:
print(student_code)

print("My name is Majid Ali")
a : int = 7
b : int = 8
print(a+b)

# Explore String method and attributes

In [4]:
a : list[str] = [i for i in dir(str) if "_" not in i]
print(a)
print(len(a))

['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
46

In [35]:
name : str = "mAjID aLi"

# variable_name.method()

print(name.capitalize())
print(name.casefold())
print(name.lower())
print(name.upper())
print(name.title())

Majid ali
majid ali
majid ali
MAJID ALI
Majid Ali

In [7]:
name : str = "     mAjID aLi     "

print(name)
display(name)
display(name.lstrip())
display(name.rstrip())
display(name.strip())
print(name.strip())

     mAjID aLi

'     mAjID aLi     '

'mAjID aLi     '

'     mAjID aLi'

'mAjID aLi'

mAjID aLi

In [10]:
import re # Regular Expression__ A package name

name : str = "     Majid     Ali     "

display(name)

name1 : str = re.sub(' {2,10}',' # ', name)   # sub mean subtitute sub(Pattern , replacement , varible name) >>> sub('', '', name)

display(name1)

'     Majid     Ali     '

' # Majid # Ali # '

In [15]:
name : str = "     Majid         Ali     "

display(name)

name1 : str = re.sub(' {2,100}','   ', name).strip()

display(name1)

'     Majid         Ali     '

'Majid   Ali'

In [41]:
first_name : str = "MajID"
last_name : str = "aLi"
full_name : str = f"{first_name} {last_name}"
print(f"Hello,\n{full_name.title()}!")

Hello,
Majid Ali!

In [39]:
print("Name: \b Majid Ali")

Name: Majid Ali

In [18]:
pi: float = 3.14159
print(f"Value of pi to 4 decimal places: {pi:.4f}")

Value of pi to 4 decimal places: 3.1416

In [19]:
num: float = 3.14459
print(f"Value of num to 3 decimal places: {num:.3f}")

Value of num to 3 decimal places: 3.145

In [27]:
a = 2.15789
print(f"{a:.2f}")

2.16

In [28]:
a = 2.15789
print(round(a, 2))

2.16